<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Link付き Vue.js Calendar</title>
<link rel="stylesheet" type="text/css" href="/vue-calendar/example/css/main.css">
</head>
<body>
<div id="app" v-cloak>
  <table class="calendar">
    <caption class="calendar__title">カレンダー</caption>
    <thead>
      <tr>
        <td colspan="1"><template v-if="prevStatus"><a @click="moveLastMonth()" tabindex="0">＜</a></template></td>
        <td colspan="5">{{calData.year}}年{{getMonthName(calData.month)}}</td>
        <td colspan="1"><template v-if="nextStatus"><a @click="moveNextMonth()" tabindex="0">＞</a></template></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th v-for="week in weeks" v-bind:abbr="week + '曜日'">{{ week }}</th>
      </tr>
      <tr v-for="week in calendar">
        <td v-for="day in week">
          <template v-if="day.check"><a v-bind:href="day.url">{{ day.day }}</a></template>
          <template v-else>{{ day.day }}</template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/vue-calendar/example/js/vendar/vue.js"></script>
<script src="/vue-calendar/example/js/calendar.js"></script>
</body>
</html>
